<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('./title-meta') %>

    <%- extra_css %>

    <%- include('./head-css') %>
</head>

<body class="bg-white">

    <%- content %>

    <%- include('./vendor') %>

    <%- extra_javascript %>

</body>
</html>